# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Matlab

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Pytorch
3. Tensorflow

**Objectives:** This tutorial covered introduction to Anaconda, R studio and Github.

| Data Science Tools |
| --- |
| VS Code |
| Jupyter notebook |
| R studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ahmad Habib